/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1618 {
    padding: var(--sectionPadding);

    /* 200px - 300px - leaving extra space for the navigation */
    padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 60px - 180px */
      gap: clamp(3.75rem, 13vw, 11.25rem);
      // 30 px - 90px etc.
      gap: clamp(1.4rem, 4vw, 4.6125rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (780/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-topper {
      /* 13px - 16px */
      font-size: clamp(0.67rem, 1.5vw, 1rem);
      line-height: 1.2em;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: (4/16rem);
      color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: (8/16rem);
      position: relative;
    }

    .cs-chevron {
      --chevronColor: var(--primary);

      width: (48/16rem);
      height: auto;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 100%;
      margin: 0 0 (40/16rem) 0;
      color: #fff;
      position: relative;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(29rem, 60vw, 38.785rem);
      margin: 0 0 (40/16rem) 0;
      color: #fff;
    }

    .cs-card-group {
      margin: 0;
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2.3vw, 1.25rem);
    }

    .cs-item {
      width: 100%;
      text-align: left;
      list-style: none;
      margin: 0;
      /* 24px - 32px */
      padding: clamp(1.5rem, 3vw, 2rem);
      background-color: #fff;
      box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      grid-column: span 12;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
    .cs-icon {
      width: (48/16rem);
      height: auto;
      margin: 0 0 (24/16rem) 0;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      text-align: inherit;
      margin: 0 0 (16/16rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      max-width: (450/16rem);
      margin: 0;
      padding: 0;
      color: var(--bodyTextColor);
    }

    .cs-background {
      width: 100%;
      height: 55%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #111926;
        opacity: 0.8;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* makes the top of the image start at the top of the parent */
        object-position: top;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1618 {
    padding-bottom: 0;
    .cs-container {
      align-items: flex-start;
    }

    .cs-content {
      text-align: left;
      margin-left: 0;
      align-items: flex-start;
    }

    .cs-item {
      grid-column: span 4;
    }

    .cs-background {
      height: 87%;
      &:before {
        background: linear-gradient(
          90deg,
          #111926 21.41%,
          rgba(17, 25, 38, 0.72) 34.98%,
          rgba(17, 25, 38, 0) 62.53%
        );
        opacity: 1;
      }
    }
  }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
  #hero-1618 {
    .cs-background {
      background: url("/assets/images/landing.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates the parallax effect */
      background-attachment: fixed;
      img {
        display: none;
      }
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1628 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16em);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-title {
      max-width: 20ch;
    }

    .cs-text {
      max-width: (640/16rem);
      position: relative;
      z-index: 1;

      &:after {
        /* divider line */
        content: "";
        width: 100%;
        height: 1px;
        margin-top: (24/16rem);
        background: var(--primary);
        opacity: 1;
        display: block;
        position: relative;
      }
    }

    .cs-chevron {
      --chevronColor: var(--primary);

      width: (48/16rem);
      height: auto;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      column-gap: clamp(1rem, 2.5vw, 1.25rem);
      /* 28px - 40px */
      row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: flex-start;

      &:hover {
        .cs-picture {
          img {
            opacity: 0.5;
            transform: scale(1.2);
          }
        }
      }
    }

    .cs-link {
      text-decoration: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-picture {
      width: 100%;
      height: (240/16rem);
      margin-bottom: (24/16rem);
      background-color: #000;
      overflow: hidden;
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s, opacity 0.3s;
      }
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: left;
      margin: 0 0 (12/16rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      font-size: (16/16rem);
      line-height: 1.5em;
      text-align: left;
      margin: 0 0 (24/16rem) 0;
      color: var(--bodyTextColor);
    }

    .cs-fake-link {
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      margin-top: auto;
      color: var(--primary);
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: (8/16rem);

      &:hover {
        .cs-icon {
          transform: translateX(0.5rem);
        }
      }
    }

    .cs-icon {
      width: (20/16rem);
      height: auto;
      display: block;
      transition: transform 0.3s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1628 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .cs-flex {
      text-align: left;
      width: 40vw;
      max-width: (640/16rem);
      flex: none;
    }

    .cs-title {
      margin: 0;
    }

    .cs-text {
      padding: (12/16rem) 0 (12/16rem) (24/16rem);

      &:after {
        width: 1px;
        height: 100%;
        margin: 0 (24/16rem) 0 0;
        order: -1;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .cs-item {
      grid-column: span 6;
    }

    .cs-picture {
      /* 240px - 420px */
      height: clamp(15rem, 33vw, 26.25rem);
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1628 {
    .cs-item {
      grid-column: span 3;
    }
  }
}

/*-- -------------------------- -->
<---   About (Side By Side Reverse)     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1207 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: (48/16rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      position: relative;
      z-index: 10;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 (16/16rem);
      color: var(--headerColor);
    }

    .cs-content-flair {
      width: 100%;
      margin: 0 0 (32/16rem);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      row-gap: (32/16rem);
      column-gap: (20/16rem);
    }

    .cs-ul {
      width: 100%;
      margin: 0;
      padding-left: (20/16rem);
      /* prevents padding from affecting width and height */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (8/16rem);
    }

    .cs-li {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      list-style: none;
      text-align: left;
      width: 100%;
      max-width: (400/16rem);
      margin: 0;
      color: var(--bodyTextColor);
      position: relative;

      &:before {
        /* bullet */
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        top: (10/16rem);
        left: (-15/16rem);
      }
    }

    .cs-video-link {
      width: 100%;
      /* changes to 160px at desktop */
      height: (200/16rem);
      background-color: #000;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      &:hover {
        .cs-video-bg {
          transform: scale(1.2);
          opacity: 0.5;
        }

        .cs-wrapper {
          transform: scale(1.2);
        }
      }
    }

    .cs-video-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: transform 0.6s, opacity 0.3s;
    }

    .cs-wrapper {
      width: (60/16rem);
      height: (60/16rem);
      border-radius: 50%;
      border: 2px solid #e8e8e8;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.75s;
    }

    .cs-image-group {
      width: 100%;
      max-width: (793/16rem);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      /* width 100% so we can match the border radius with the circle graphic easier */
      width: 100%;
      max-width: (460/16rem);
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &.person {
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .cs-graphic {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-box {
      /* 16px - 32px top & bottom */
      /* 16px - 24px */
      padding: clamp(1rem, 2.9vw, 2rem) clamp(1rem, 2.7vw, 1.5rem);
      background-color: #fff;
      border: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      /* 85px - 200px */
      top: clamp(5.3125rem, 12vw, 12.5rem);
      left: 0;
    }

    .cs-box-icon {
      /* 24px - 40px */
      width: clamp(1.5rem, 4vw, 2.5rem);
      height: auto;
      margin: 0 0 (12/16rem);
      display: block;
    }

    .cs-box-header {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 3vw, 1.25rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0 0 (12/16rem);
      color: var(--primary);
    }

    .cs-box-ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: (4/16rem);
    }

    .cs-box-li {
      list-style: none;
      /* 12px - 14px */
      font-size: clamp(0.75rem, 2vw, 0.875rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-stat {
      /* 20px - 32px top & bottom */
      /* 12px - 24px */
      padding: clamp(1.25rem, 3vw, 2rem) clamp(0.75rem, 3vw, 1.5rem);
      background-color: #1a1a1a;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      /* 40px - 120px */
      bottom: clamp(2.5rem, 7vw, 6.25rem);
    }

    .cs-ring-wrapper {
      /* 80px - 100px */
      width: clamp(5rem, 10vw, 6.25rem);
      position: relative;
      /* 20px - 24px */
      margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
    }

    .cs-number {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      font-weight: 900;
      /* prevents mouse from interacting with it */
      pointer-events: none;
      line-height: 1.2em;
      color: var(--bodyTextColorWhite);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    .cs-header {
      /* 16px - 20px */
      font-size: clamp(1rem, 2.1vw, 1.25rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 (4/16rem);
      color: var(--bodyTextColorWhite);
    }

    .cs-desc {
      /* 12px - 14px */
      font-size: clamp(0.75rem, 1.4vw, 0.875rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
    }

    .cs-ring {
      --ring-width: 3px;
      width: ~"calc(100% - var(--ring-width))";
      aspect-ratio: 1;
      overflow: visible;
      pointer-events: none;
      rotate: -90deg;
      scale: 1 -1;
    }

    .cs-ring circle {
      fill: none;
      stroke: #f7f7f7;
      stroke-width: var(--ring-width);
    }

    .cs-ring circle {
      stroke: var(--secondaryLight);
      stroke: green;
      stroke-linecap: round;
      stroke-dasharray: ~"calc(var(--ratio) * 314%) 314%";

      transition: stroke-dasharray 1s;
    }

    .cs-stat:hover {
      .cs-ring {
        --ratio: 0 !important;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1207 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    .cs-content {
      width: 45%;
    }

    .cs-ul {
      width: 45%;
      max-width: (242/16rem);
    }

    .cs-video-link {
      width: 50%;
      max-width: (280/16rem);
      height: (160/16rem);
    }

    .cs-image-group {
      width: 50%;
      margin-top: auto;
      /* same exact clamp as the sectionPadding variable */
      margin-bottom: ~"calc(clamp(3.75rem, 7.82vw, 6.25rem)*-1)";
      right: 0;
      /* sends it to the right in the 2nd position */
      order: 2;
    }

    .cs-picture {
      /* changes to 719px at large desktop */
      width: 100%;
      max-width: (522/16rem);
    }
  }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #sbsr-1207 {
    .cs-image-group {
      width: (719/16rem);
      right: (-90/16rem);
    }

    .cs-picture {
      width: (719/16rem);
      height: (793/16rem);

      img {
        width: 100%;
        height: auto;
        max-height: (793/16rem);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .cs-graphic {
      width: (950/16rem);
      top: (-100/16rem);
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side (Service 1, Lüks Konut)         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-412 {
    padding: var(--sectionPadding);
    /* clips svg as the screen grows so it doesn't overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280 at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 108px */
      gap: clamp(3rem, 6vw + 1.1em, 6.75rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-image-group {
      font-size: ~"min(2.5vw, 1em)";
      width: (579/16em);
      height: (542/16em);
      /* sends it to the top of the flexbox */
      order: -1;
      position: relative;
    }

    .cs-picture {
      /* clips the img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;

      &:hover {
        &:before {
          opacity: 0.6;
        }

        img {
          transform: scale(1.1);
        }
      }

      &:before {
        /* Hover Box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
        transition: opacity 0.3s;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
      }
    }

    .cs-picture1 {
      width: (204/16em);
      height: (314/16em);
      top: 0;
      left: 0;
    }

    .cs-picture2 {
      width: (348/16em);
      height: (314/16em);
      top: 0;
      right: 0;
    }

    .cs-picture3 {
      width: (579/16em);
      height: (202/16em);
      bottom: 0;
      left: 0;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-412 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
    }

    .cs-content {
      width: 48%;
    }

    .cs-image-group {
      font-size: ~"min(1.15vw, 1em)";
      flex: none;
    }
  }
}

/*-- -------------------------- -->
<---          Gallery (Projects)           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-49 {
    padding: var(--sectionPadding);
    position: relative;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-image-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      place-content: center;
      grid-template-columns: repeat(12, 1fr);
      /* 158px - 304px */
      grid-template-rows: 1fr;
      /* 8px - 20px */
      gap: clamp(0.5rem, 1.5vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      margin: 0;
      aspect-ratio: 1;
      grid-column: span 6;
      display: block;
      position: relative;
      /* prevents image from overflowing the container on hover */
      overflow: hidden;
      transition: border-radius 0.3s;

      &:hover {
        border-radius: (150/16rem) (150/16rem) 0 0;

        .cs-picture {
          img {
            transform: scale(1.1);
          }
        }

        .cs-hover-box {
          opacity: 1;
          pointer-events: all;
        }

        .cs-h3 {
          opacity: 1;
          /* Return to original position */
          transform: translateY(0);
        }

        .cs-link {
          opacity: 1;
          /* Return to original position */
          transform: translateY(0);
        }
      }
    }

    .cs-picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
      }
    }

    .cs-item-1 {
      grid-column: ~"1 / span 12";
      grid-row: ~"1 / 2";
      aspect-ratio: 328/158;
    }

    .cs-item-5 {
      grid-column: 7 / span 6;
      grid-row: 3 / span 2;
      aspect-ratio: initial;
    }

    .cs-hover-box {
      height: 100%;
      width: 100%;
      padding: (16/16em) (10/16em);
      opacity: 0;
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* Prevents padding from adding to the height & width */
      box-sizing: border-box;
      transition: opacity 0.3s;
      /* prevent it from interacting with the mouse so we can add a hover
            effect on the cs-item parent */
      pointer-events: none;
      position: relative;

      &:before {
        /* top right box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.9;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    }

    .cs-h3 {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.8vw, 1.25rem);
      line-height: 1.2em;
      text-align: center;
      margin: 0;
      font-weight: 700;
      margin-bottom: (12/16rem);
      color: var(--headerColor);
      opacity: 0;
      display: block;
      /* starting point is 10px down from its original point */
      transform: translateY(0.625rem);
      transition: opacity 0.3s, transform 0.5s;
    }

    .cs-link {
      font-size: (15/16rem);
      line-height: (46/16rem);
      font-weight: bold;
      text-decoration: none;
      padding: 0 (16/16rem);
      background-color: #1a1a1a;
      color: #fff;
      opacity: 0;
      overflow: hidden;
      /* starting point is 10px down from its original point */
      transform: translateY(0.625rem);
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: opacity 0.5s, transform 0.5s, background-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: #fff;
        color: #1a1a1a;
        cursor: pointer;
        &:before {
          width: 100%;
        }
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-49 {
    .cs-item {
      grid-column: span 3;
    }

    .cs-item-1 {
      grid-column: 1 / span 6;
    }

    .cs-item-2 {
      grid-column: 1 / span 3;
      grid-row: 2;
    }

    .cs-item-3 {
      grid-column: 4 / span 3;
      grid-row: 2;
    }

    .cs-item-5 {
      grid-column: 7 / span 3;
      grid-row: 2;
    }

    .cs-item-6 {
      grid-column: 10 / span 3;
      grid-row: 1 / span 2;
      aspect-ratio: initial;
    }
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse (Service 2, Ticari Kompleks)     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-413 {
    padding: var(--sectionPadding);
    /* clips svg as the screen grows so it doesn't overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280 at tablet */
      max-width: (550/16rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 108px */
      gap: clamp(3rem, 6vw + 1.1em, 6.75rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-image-group {
      font-size: ~"min(2.5vw, 1em)";
      width: (579/16em);
      height: (542/16em);
      /* sends it to the top of the flexbox */
      order: -1;
      position: relative;
    }

    .cs-picture {
      /* clips the img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;

      &:hover {
        &:before {
          opacity: 0.6;
        }

        img {
          transform: scale(1.1);
        }
      }

      &:before {
        /* Hover Box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
        transition: opacity 0.3s;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
      }
    }

    .cs-picture1 {
      width: (204/16em);
      height: (314/16em);
      top: 0;
      left: 0;
    }

    .cs-picture2 {
      width: (348/16em);
      height: (314/16em);
      top: 0;
      right: 0;
    }

    .cs-picture3 {
      width: (579/16em);
      height: (202/16em);
      bottom: 0;
      left: 0;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-413 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
    }

    .cs-content {
      width: 48%;
    }

    .cs-image-group {
      font-size: ~"min(1.15vw, 1em)";
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-539 {
    padding: var(--sectionPadding);
    // 50px bottom / top padding
    padding: clamp(1.3625rem, 3.91vw, 3.125rem) 1rem;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      /* 96px - 128px */
      gap: clamp(6rem, 12vw, 8rem);
    }

    .cs-content {
      text-align: left;
      /* changes to 41% at tablet */
      width: 100%;
      max-width: (522/16rem);
    }

    .cs-color {
      color: var(--primaryLight);
    }

    .cs-title {
      max-width: 17ch;
    }

    .cs-card-group {
      /* changes to 43% at tablet */
      width: 90%;
      max-width: (522/16rem);
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      /* 16px - 52px */
      row-gap: clamp(1rem, 5vw, 3.25rem);
    }

    .cs-item {
      width: 40%;
      max-width: (200/16rem);
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-number {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      margin: 0 0 (8/16rem) 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-desc {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-big-link {
      width: 100%;
      /* changes to a clamp at tablet */
      height: (320/16rem);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover {
        .cs-background {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      /* clips the img from overflowing the container on hover */
      overflow: hidden;
      display: block;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;

      &:before {
        /* color overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.22;
        background-blend-mode: multiply;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        transition: transform 0.7s;
      }
    }

    .cs-link-icon {
      /* 80px - 110px */
      width: clamp(5rem, 11vw, 6.875rem);
      height: clamp(5rem, 11vw, 6.875rem);
      border-radius: 50%;
      position: absolute;
      z-index: 10;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-539 {
    .cs-container {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: space;
    }

    .cs-content {
      width: 41%;
    }

    .cs-card-group {
      width: 43%;
    }

    .cs-big-link {
      /* 280px - 580px */
      height: clamp(20rem, 44vw, 36.25rem);
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1455 {
    // No top, 50px bottom padding
    padding: 0 1rem clamp(1.3625rem, 3.91vw, 3.125rem) 1rem;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      max-width: (630/16rem);
      /* 20px - 40px top & bottom */
      /* 20px - 40px left & right */
      padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
      background-color: #f7f7f7;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
    }

    .cs-quote {
      /* 48px - 72px */
      width: clamp(3rem, 6vw, 4.5rem);
      height: auto;
      margin-bottom: (32/16rem);
    }

    .cs-review {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.6vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      /* 20px - 40px */
      margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
      color: var(--bodyTextColor);
    }

    .cs-flex-group {
      /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
      margin-top: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (12/16rem);
    }

    .cs-profile {
      width: (50/16rem);
      height: auto;
      /* clips image corners to make circle */
      overflow: hidden;
      position: relative;
      display: block;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes the image behave like a background image */
        object-fit: cover;
      }
    }

    .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
      margin-top: auto;
      color: var(--headerColor);
      display: block;
    }

    .cs-job {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.6vw, 1rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1455 {
    .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
}
