---

---

<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer id="cs-footer-272">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="">
        <!-- Remove the light class if you don't need the dark logo -->
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/logo-black.svg"
          alt="logo"
          width="240"
          height="32"
        />
        <!-- Lighter Dark Mode Logo, remove if not needed -->
      </a>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum
        tincidunt vitae velit dolor cras tellus nisl habitant. Consectetur
        pellentesque dignissim sed amet.
      </p>
      <div class="cs-social">
        <a class="cs-social-link" aria-label="visit google profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg"
            alt="google"
            width="11"
            height="11"
          />
        </a>
        <a class="cs-social-link" aria-label="visit facebook profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg"
            alt="facebook"
            width="6"
            height="11"
          />
        </a>
        <a class="cs-social-link" aria-label="visit instagram profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg"
            alt="instagram"
            width="11"
            height="11"
          />
        </a>
      </div>
    </div>
    <!-- Links -->
    <ul class="cs-nav">
      <li class="cs-nav-li">
        <span class="cs-header">Sayfalar</span>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Hakkımızda</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Servislerimiz</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Galeri</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">İletişim</a>
      </li>
    </ul>
    <ul class="cs-nav">
      <li class="cs-nav-li">
        <span class="cs-header">Servisler</span>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Lüks Kompleks Tasarımı</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Ticari Kompleks Tasarımı</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Restorasyon ve Yenileme</a>
      </li>
      <li class="cs-nav-li">
        <a class="cs-nav-link" href="">Özel Resort ve Otel Projeleri</a>
      </li>
    </ul>
    <!-- Contact Info -->
    <ul class="cs-contact">
      <li class="cs-nav-li">
        <span class="cs-header">İletişim</span>
      </li>
      <li class="cs-contact-li">
        <a class="cs-contact-link cs-address" href="">
          Saltak Caddesi, <br /> Merkezefendi, Denizli
        </a>
      </li>
      <li class="cs-contact-li">
        <a class="cs-contact-link" href="tel: 123-456-7890">(123) 456-7890</a>
      </li>
      <li class="cs-contact-li">
        <a class="cs-contact-link" href="mailto:info@codestitch.com"
          >hello@osmangund.com</a
        >
      </li>
    </ul>
  </div>
</footer>

<style lang="less">
  /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cs-footer-272 {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* reset on tablet */
        max-width: (550/16rem);
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: (88/16rem);
        row-gap: (32/16rem);
      }

      .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
      }

      .cs-logo {
        /* 210px - 240px */
        width: clamp(25.25rem, 16vw, 30rem);
        height: auto;
        display: block;
        /* 28px - 44px */
        margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
      }

      .cs-logo-img {
        width: 100%;
        height: auto;

        &.dark {
          display: none;
        }
      }
      .cs-social {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: (12/16rem);
        position: absolute;
        top: 0;
        right: 0;
      }

      .cs-social-link {
        width: (24/16rem);
        height: (24/16rem);
        background-color: #4e4b66;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
          transform 0.3s,
          background-color 0.3s;

        &:hover {
          background-color: #1a1a1a;
          transform: translateY(-0.1875rem);
        }
      }

      .cs-social-img {
        height: (13/16rem);
        width: auto;
        display: block;
      }

      /* Navigation Links */
      .cs-nav {
        padding: 0;
        margin: 0;
      }

      .cs-nav-li {
        list-style: none;
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-header {
        font-size: (16/16rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--bodyTextColor);
        position: relative;

        &:after {
          content: "";
          width: (32/16rem);
          height: (4/16rem);
          margin: (16/16rem) auto (24/16rem) 0;
          background: var(--primary);
          opacity: 1;
          position: relative;
          display: block;
        }
      }

      .cs-nav-link {
        font-size: (16/16rem);
        text-decoration: none;
        line-height: 1.5em;
        color: var(--bodyTextColor);
        position: relative;

        &:before {
          /* underline */
          content: "";
          width: 0%;
          height: (2/16rem);
          background: var(--bodyTextColor);
          opacity: 1;
          position: absolute;
          display: block;
          bottom: (-2/16rem);
          left: 0;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      /* Contact Links */
      .cs-contact {
        margin: 0;
        padding: 0;
        width: 35%;
      }

      .cs-contact-li {
        list-style: none;
        margin-bottom: (0/16rem);
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-contact-link {
        font-size: (16/16rem);
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--bodyTextColor);
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }

      .cs-address {
        font-size: (16/16rem);
        margin-bottom: (20/16rem);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cs-footer-272 {
      .cs-container {
        max-width: (1280/16rem);
        row-gap: 0;
      }

      .cs-contact {
        flex-direction: row;
        justify-content: space-between;
        border-top: none;
      }

      .cs-contact-li {
        margin: 0;
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cs-footer-272 {
      .cs-container {
        /* pushes all flex children to the top */
        align-items: flex-start;
        justify-content: flex-end;
      }

      .cs-logo-group {
        /* pushes everything to the right of it as far as possible in a flexbox */
        margin-right: auto;
        width: auto;
        max-width: (305/16rem);
      }

      .cs-text {
        width: 100%;
        margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
      }

      .cs-social {
        flex-direction: row;
        position: relative;
        top: auto;
        right: auto;
      }

      .cs-contact {
        width: auto;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #cs-footer-272 {
        background-color: rgba(0, 0, 0, 0.2);
        .cs-text,
        .cs-header,
        .cs-nav-link,
        .cs-contact-link {
          color: var(--bodyTextColorWhite);

          &:before {
            background-color: var(--bodyTextColorWhite);
          }
        }

        .cs-copyright {
          color: #b4b2c7;
        }
      }
    }
  }
</style>
